{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "eol-last": ["error", "always"],
    "indent": ["error", 2],
    "max-len": [
      "error",
      {
        "code": 140,
        "tabWidth": 2
      }
    ],
    "no-cond-assign": ["error", "always"],
    "no-duplicate-case": "error",
    "no-param-reassign": "error",
    "no-redeclare": "off",
    "@typescript-eslint/no-redeclare": ["error"],
    "no-this-before-super": "error",
    "no-trailing-spaces": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn"
  }
}
